# ==========================================================
# Archivo de configuración de MongoDB
# Proyecto: ComercioTech
# MongoDB 7.x
# ==========================================================


storage:

  # Ruta donde MongoDB almacena la base de datos
  dbPath: /data/db

  # Motor de almacenamiento
  engine: wiredTiger

  wiredTiger:
    engineConfig:

      # Tamaño máximo de la caché (GB)
      cacheSizeGB: 1


systemLog:

  destination: file

  logAppend: true

  path: /var/log/mongodb/mongod.log

  verbosity: 0


net:

  port: 27017

  bindIp: 0.0.0.0

  ipv6: false


security:

  authorization: enabled


processManagement:

  fork: false

  timeZoneInfo: /usr/share/zoneinfo


operationProfiling:

  mode: slowOp

  slowOpThresholdMs: 100


setParameter:

  enableLocalhostAuthBypass: false
